.perfil {
    display: grid;
    float: left;
    justify-content: space-around;
    align-items: center;
    width: 21rem;
    height: 30rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
    }