.boton_conectar {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 2.5rem;
    border: 3px solid #08a1f4;
    background-color: #323030;
    color: #08a1f4;
    font-weight: bold;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}